.pg-admonition {
  display: block;
  border-radius: 0.5rem;
  padding: 2rem;

  background-color: $color-surface-informational-bg;
  color: $color-surface-informational-fg;

  &--critical {
    background-color: $color-surface-critical-bg;
    color: $color-surface-critical-fg;
  }

  &--success {
    background-color: $color-surface-success-bg;
    color: $color-surface-success-fg;
  }

  &--warning {
    background-color: $color-surface-warning-bg;
    color: $color-surface-warning-fg;
  }
}
