.pg-button {
  margin: unset;
  outline: unset;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  border-radius: var(--shape-button-border-radius-base);
  padding: var(--sizing-system-base-unit) var(--shape-button-border-radius-base);

  min-height: var(--shape-button-min-height-base);

  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
  letter-spacing: var(--font-body-letter-spacing);
  line-height: var(--font-body-line-height);

  background-color: var(--color-surface-action-primary-bg);
  color: var(--color-surface-action-primary-fg);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: var(--color-surface-action-primary-hover-bg);
    color: var(--color-surface-action-primary-hover-fg);
  }

  &--busy {
    background-color: var(--color-surface-action-primary-disabled-bg);
    color: var(--color-surface-action-primary-disabled-fg);

    &:hover {
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      background-color: var(--color-surface-action-primary-disabled-hover-bg);
      color: var(--color-surface-action-primary-disabled-hover-fg);
    }
  }
}
