.pg-button {
  margin: unset;
  outline: unset;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  border-radius: $shape-button-border-radius-base;
  padding: $sizing-system-base-unit $shape-button-border-radius-base;

  min-height: $shape-button-min-height-base;

  font-family: $font-body-family;
  font-size: $font-body-size;
  font-weight: $font-body-weight;
  letter-spacing: $font-body-letter-spacing;
  line-height: $font-body-line-height;

  background-color: $color-surface-action-primary-bg;
  color: $color-surface-action-primary-fg;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: $color-surface-action-primary-hover-bg;
    color: $color-surface-action-primary-hover-fg;
  }

  &--busy {
    background-color: $color-surface-action-primary-disabled-bg;
    color: $color-surface-action-primary-disabled-fg;

    &:hover {
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      background-color: $color-surface-action-primary-disabled-hover-bg;
      color: $color-surface-action-primary-disabled-hover-fg;
    }
  }
}
