.pg-input {
  margin: unset;
  outline: unset;
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: #{$sizing-palette-base-unit * 1.5} #{$sizing-palette-base-unit * 2};

  font-family: $font-body-family;
  font-size: $font-body-size;
  font-weight: $font-body-weight;
  letter-spacing: $font-body-letter-spacing;
  line-height: $font-body-line-height;

  background-color: $color-surface-input-bg;
  color: $color-surface-input-fg;
  border: solid $shape-input-border-width $color-surface-input-border;
  border-radius: $shape-input-border-radius-base;

  &:hover {
    cursor: text;
  }

  &:hover,
  &:focus {
    background-color: $color-surface-input-hover-bg;
    color: $color-surface-input-hover-fg;
    border-color: $color-surface-input-hover-border;
  }

  &--invalid {
    background-color: $color-surface-input-invalid-bg;
    color: $color-surface-input-invalid-fg;
    border-color: $color-surface-input-invalid-border;

    &:hover,
    &:focus {
      background-color: $color-surface-input-invalid-hover-bg;
      color: $color-surface-input-invalid-hover-fg;
      border-color: $color-surface-input-invalid-hover-border;
    }
  }

  &:disabled,
  &--disabled,
  &:read-only,
  &--readonly {
    background-color: $color-surface-input-disabled-bg;
    color: $color-surface-input-disabled-fg;
    border-color: $color-surface-input-disabled-border;

    &:hover {
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      background-color: $color-surface-input-disabled-hover-bg;
      color: $color-surface-input-disabled-hover-fg;
      border-color: $color-surface-input-disabled-hover-border;
    }
  }
}
