---
import "../css/normalize-dark.scss";
import "../css/components-dark.scss";
import "../css/tailwind.css";
import "../css/utilities-dark.scss";
import { Demo } from "../views/Demo.js";
---

<html>
  <body>
    <Demo />
  </body>
</html>
