.pg-button {
  margin: unset;
  outline: unset;
  display: flex;
  position: relative;
  border-radius: calc(1rem * 1.5);
  background-color: rgb(234, 100, 51);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1rem;

  &:hover {
    cursor: pointer;
  }

  &--busy {
    background-color: rgb(198, 198, 198);
    color: black;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }

  &:not(.pg-button--busy) {
    &:hover,
    &:focus {
      background-color: coral;
    }

    &:active {
      background-color: rgb(236, 66, 4);
    }
  }
}
