@import "playground-styles-sd/dist/scss/_variables.scss";

.pg-button {
  margin: unset;
  outline: unset;
  display: flex;
  position: relative;
  border-radius: calc(1rem * 1.5);
  background-color: $color-surface-action-primary-bg;
  color: $color-surface-action-primary-fg;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1rem;

  &:hover {
    cursor: pointer;
  }

  &--busy {
    background-color: $color-surface-action-primary-disabled-bg;
    color: $color-surface-action-primary-disabled-fg;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:not(.pg-button--busy) {
    &:hover,
    &:focus-visible {
      background-color: $color-surface-action-primary-hover-bg;
      color: $color-surface-action-primary-hover-fg;
    }
  }
}
