@import "playground-styles-sd/dist/web/_variables.scss";

.pg-mw-content {
  max-width: 1000px;
}

.pg-tabbable {
  &:focus-visible {
    box-shadow: 0 0 0 $effect-outline-focus-buffer-width
        $effect-outline-focus-buffer-color,
      0 0 0 calc($effect-outline-focus-width + $effect-outline-focus-width)
        $effect-outline-focus-color;
  }
}

.pg-text-heading {
  font-family: $font-heading-family, $font-heading-family-fallback-1,
    $font-heading-family-fallback-2;
  font-size: $font-heading-size;
  font-weight: $font-heading-weight;
  letter-spacing: $font-heading-letter-spacing;
  line-height: $font-heading-line-height;
}

.pg-text-body {
  font-family: $font-body-family, $font-body-family-fallback-1,
    $font-body-family-fallback-2;
  font-size: $font-body-size;
  font-weight: $font-body-weight;
  letter-spacing: $font-body-letter-spacing;
  line-height: $font-body-line-height;
}

.pg-fixed {
  position: fixed;
}

.pg-shadow {
  box-shadow: $effect-shadow-100-x $effect-shadow-100-y
    $effect-shadow-100-border-radius $effect-shadow-100-spread
    $effect-shadow-100-color;
}

@for $multiplier from 0 through 10 {
  .pg-m-#{$multiplier} {
    margin: $multiplier * $sizing-palette-base-unit;
  }
  .pg-ml-#{$multiplier} {
    margin-left: $multiplier * $sizing-palette-base-unit;
  }
  .pg-mt-#{$multiplier} {
    margin-top: $multiplier * $sizing-palette-base-unit;
  }
  .pg-mr-#{$multiplier} {
    margin-right: $multiplier * $sizing-palette-base-unit;
  }
  .pg-mb-#{$multiplier} {
    margin-bottom: $multiplier * $sizing-palette-base-unit;
  }
  .pg-left-#{$multiplier} {
    left: $multiplier * $sizing-palette-base-unit;
  }
  .pg-top-#{$multiplier} {
    top: $multiplier * $sizing-palette-base-unit;
  }
  .pg-right-#{$multiplier} {
    right: $multiplier * $sizing-palette-base-unit;
  }
  .pg-bottom-#{$multiplier} {
    bottom: $multiplier * $sizing-palette-base-unit;
  }
}
